@import "tailwindcss";

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

@theme {
  --color-sky-1: #f9feff;
  --color-sky-2: #f1fafd;
  --color-sky-3: #e1f6fd;
  --color-sky-4: #d1f0fa;
  --color-sky-5: #bee7f5;
  --color-sky-6: #a9daed;
  --color-sky-7: #8dcae3;
  --color-sky-8: #60b3d7;
  --color-sky-9: #7ce2fe;
  --color-sky-10: #74daf8;
  --color-sky-11: #00749e;
  --color-sky-12: #1d3e56;
}
